@import url(tracks.css);
@import url(fonts.css);
@import url(color.css);

*{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
.link{
  text-decoration: none;
  color: #000000;
}
.contact {
  display: grid;
  width: 2rem;
  background-color: none;
  position: fixed;
  align-items: center;
  justify-content: center;
}

#container{
  background-color: var(--primary-background);
}

.main-container {
  display: grid;
  justify-content: center;
}

.header {
  width: 100vw;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EC0404;
}

.header .nav {
  font-size: .7rem;
  margin: .3rem;
}

.search-container {
  width: 100vw;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

#search {
  width: 10rem;
  height: 1.29rem;
  font-size: .5rem;
  text-align: center;
  border: 1px solid #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.search-button {
  width: 3rem;
  height: 1rem;
  text-align: center;
  font-size: 0.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: .2rem;
  background-color: #EC0404;
}


.ads {
  width: 100vw;
  height: auto;
}
/*/